.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{

}

.headerInfo{
    display: flex;
    gap: 50px;
}

.headerInfo{
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 700;
    color: #3F70EF;
}



.headerInfo button{
   background-color: #FE9D43;
   border: none;
   border-radius: 10px;
   padding: 16px 24px;

   font-family: "Open Sans", sans-serif;
   font-weight: 700;
   font-size: 12px;
   color: #ffff;
}


@media (min-width: 320px) and (max-width: 668px) {
    .headerInfo p{
        display: none;
    }
    .headerInfo button{
        display: none;
     }
}

@media (min-width: 320px) and (max-width: 1210px) {

}

